@import "tailwindcss";

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-ticker {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 22s linear infinite;
}

.animate-ticker:hover {
  animation-play-state: paused;
}
